@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap');
*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
html{
  font-size: 62.5%;
}
body{
  font-size: 1.6rem;
  font-family: 'Oswald', sans-serif;
}
.app{
  overflow: hidden;
}
.home{
  position: relative;
  width: 100%;
  height: 100vh;
}

.home__img{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.home__content{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.home__heading{
  margin-top: 2rem;
  font-weight: bold;
  font-size: 4rem;
  letter-spacing: 0.5rem;
}
.home__btn{
  position: relative;
  text-decoration: none;
  color: #000;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.home__btn::before{
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0%;
  height: 0.2rem;
  margin-top: 0.2rem;
  background-color: #000;
  animation: moveRight 1s linear infinite;
}
@keyframes moveRight{
  0%{width: 0%;}
  100%{width: 100% }
}

/* NAVBAR */
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5.5rem;
  padding: 0 3rem;
  background-color: #fff;
  border-bottom: 1px solid #bbb4b4;
  color: #000;
  z-index: 20;
}
.nav__logo{
  letter-spacing: 1rem;
  text-transform: uppercase;
}
.nav__logo__link{
  text-decoration: none;
  color: #000;
}
.nav__left{
  display: flex;
  align-items: center;
}
.nav__left h4, 
.nav__all
{
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
  font-weight: 500;
  cursor: pointer;
}
.nav__icon,
.nav__search
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 2.3rem;
  height: 2.5rem;
  margin-right: 1.4rem;
  overflow: hidden;
  cursor: pointer;
}
.nav__search i,
.nav__icon i{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  transition: 0.2s linear;
}
.nav__icon i:nth-child(2),
.nav__search i:nth-child(2)
{
  transform: translateY(100%);
}
.nav__icon:hover i:nth-child(1),
.nav__search:hover i:nth-child(1)
{
  transform: translateY(-100%);
}
.nav__icon:hover i:nth-child(2),
.nav__search:hover i:nth-child(2)
{
  transform: translateY(0%);
}
.nav__right{
  display: flex;
}

/* PROJECTS */
.projects{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 30rem;
  position: relative;
  transition: all 0.5s linear;
  z-index: -1;
}
.projects.active{
  transform: translateX(22rem);
}
.projects__overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  display: none;
  transition: all 0.5 linear;
}
.projects__overlay.active{
  display: block;
}
.projects__container{
  position: relative;
}
.projects__img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* SideBarLeft */
.sideBarLeft{
  position: fixed;
  top: 0;
  left: 0;
  width: 22rem;
  transform: translateX(-22rem);
  height: 100vh;
  z-index: 10;
  background-color: #fff;
  transition: all 0.5s linear;
}
.sideBarLeft.active{
  transform: translateX(0);
}
.sideBarLeft__items{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10rem;
  margin-left: 5rem;
  height: 80%;
}

.sideBarLeft__items a {
  position: relative;
  text-decoration: none;
  color: #000;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 0 0.5rem;
  letter-spacing: 0.3rem;
  align-self: start;
  overflow: hidden;
}
.sideBarLeft__items a::before{
  content: "";
  position: absolute;
  top: 50%;
  width: 100%;
  height: 0.2rem;
  background-color: #000;
  transform: translateX(-110%);
  transition: all 0.3s linear;
}
.sideBarLeft__items a:hover::before{
  transform: translateX(-10%);
}